.main {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (min-width: 900px) {
    .main {
        width: 58%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 40px 40px 20px 40px;
    }

    .input-info {
        width: 47.5%;
    }
} 
